.colorme {color:#878787;}

.nav-bar > li:hover, .nav-bar > li a:hover  { color: #878787;}

.nav-bar > li.active > a { }

ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#878787;}

.flyout {border-top:2px solid #878787;}

.sectiontitle {border-left: 4px solid #878787;}

::-moz-selection{background:#878787;color:#fff;}

::selection{background:#878787;color:#fff;}

.ca-menu li:hover .ca-main {color: #878787;}

.topborder { border-top:4px solid #878787;}

.readmore {background:#878787;}

 #subheader {background: #878787;border-top: 1px solid #878787; color: #eee;}

 #subheader a {color: #eee;}

 #subheader a:hover {color: #fff;}

 .readmore {background:#878787;}

 #testimonials blockquote cite {color:#878787;}

 .tags {background:#878787;}

 ul.pagination li.current a {background: #878787;}

.saymore {color:#878787;}

.submit {background:#878787;} 

dl.tabs dd.active { border-bottom: 3px solid #878787;}

ul.accordion > li.active {border-top: 3px solid #878787;}

div.alert-box.default { background-color: #878787;}

.slide {	margin: 0;	padding: 0;	border-top: solid 4px #878787;}

.btn-slide {	background:#878787 url(../../images/plus.png) no-repeat;}

.btn-slide.active { background: #878787 url(../../images/minus.png) no-repeat;}

#footer {border-top:#878787 4px solid;}

.back-top a:hover{background-color: #878787;}

.sf-shadow ul {border-top:2px solid #878787;}

.panel {border-left:4px solid #878787;}

.colorbackground {background:#878787;}

a.projectdetail { background: #878787;opacity:0.8;}

a.projectdetail:hover { background: #878787;opacity:1.0;}

#testimonials {border-left: solid 6px #878787;}

.ei-title h2{background:#878787;} 